#that which shall be ignored
testing/
./testing/*
scratchpad*.*
log_config*

# local config file
config.json

# local sftp
sftp-config.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
